<!DOCTYPE html>
<html>
<%- include('../partials/head', {title:'detalle del producto'}) %>

  <body>
    <main>

    <%- include('../partials/banner') %>

    

            <section class="detail-container">
              <article class="art-detail">
              <% if (product.images && product.images.length > 0) { %>
                <% product.images.forEach(image => { %>
                  <img class="main-detail-foto"
                  src="/images/products/<%= product.images && product.images.length > 0 ? product.images[0].file : 'default.webp' %>"
                  alt="<%= product.name %>" style="width: 16rem" 
                  />
                <% }) %>
              <% } else { %>
                <p>No hay imágenes disponibles para este producto.</p>
              <% } %>
            </article>
          <article class="art-detail">
            <h3 class="detail">
              <%= product.name %>
            </h3>

            <% if (product.discount !=0) { %>
              <span>
                <%=product.price.toString().replace( /\B(?=(\d{3})+(?!\d))/g, "." ) %>
                  <span class="tachado">
                    $<%= product.price%>
                  </span>
                  <strong class="discountCard">/<%- product.discount %>% OFF</strong>
              </span>
              <% } %>
                <h2 class="price-detail">Precio $
                  <%= (product.price - product.price * product.discount /
                    100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, "." ) %>
                </h2>

                <a href="/"> <button class="btn-det">Comprar</button></a>
          </article>
        </section>
      </main>
      <%- include('../partials/footer') %>
  </body>