<!DOCTYPE html>
<html>
<%- include('../partials/head', {title:'detalle del producto'}) %>

  <body>

    <%- include('../partials/header') %>

      <main>
        <section class="main-detail">

          <article class="art-detail">
            <img class="foto-detail" src="/images/products/<%= product.image %> " alt="Foto producto">

            <p class="detail">
              <%= description %>
            </p>
          </article>
          <article class="art-detail">
            <h3 class="detail">
              <%= name %>
            </h3>
            <h5 class="detail">
              Marca: <%= brand %>
            </h5>
            <h5 class="detail">
              Modelo: <%= model %>
            </h5>

            <% if (discount !=0) { %>
              <span>
                <%price.toString().replace( /\B(?=(\d{3})+(?!\d))/g, "." ) %> 
                <span class="tachado">
                    $<%= price%>
                </span>
                  <strong class="discountCard">/<%- discount %>% OFF</strong>
              </span>
              <% } %>
                <h2 class="price-detail">Precio $
                  <%= (price - price * discount / 100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, "." ) %>
                </h2>
              
                <a href="/products/cart/<%=id%>"> <button class="btn-det">Agregar al carrito</button></a>
          </article>
        </section>
      </main>
      <%- include('../partials/footer') %>
  </body>

</html>