<!DOCTYPE html>
<html>
<%- include('../partials/head', {title:'detalle del producto'}) %>

  <body>

    <%- include('../partials/header') %>

      <main>
        <section class="main-detail">

          <article class="art-detail">
            <img class="foto-detail" src="<%= product.image %> " alt="Foto producto">

          </article>
          <article class="art-detail">
            <h3 class="detail">
              <%= product.name %>
            </h3>
            <p class="detail">
              <strong>Marca: <%= product.brand ? product.brand.name : 'Sin marca' %>
              </strong>
            </p>
          
            <p class="detail">
              <strong> <%= product.category ? product.category.name : 'Sin categoría' %>
              </strong>
            </p>
            <p class="detail">
              <%= product.description %>
            </p>
          
            <% if (product.discount !=0) { %>
              <span>
                <% product.price.toString().replace( /\B(?=(\d{3})+(?!\d))/g, "." ) %> 
                <span class="tachado">
                    $<%= product.price%>
                </span>
                  <strong class="discountCard">/<%- product.discount %>% OFF</strong>
              </span>
              <% } %>
                <h2 class="price-detail">Precio $
                  <%= (product.price - product.price * product.discount / 100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, "." ) %>
                </h2>
              
                <a href="/products/cart/<%=product.id%>"> <button class="btn-det">Agregar al carrito</button></a>
          </article>
        </section>
      </main>
      <%- include('../partials/footer') %>
  </body>

</html>