<!DOCTYPE html>
<html>

<%- include('../partials/head',{ title:'Editar producto' }) %>

  <body>
    <main class="body">

      <div id="registroForm">

        <h2 class="tit-reg">Editar producto</h2>
<form action="/products/update/<%= id %>?_method=PUT" method="POST" id="formAddProduct" enctype="multipart/form-data">
  <br>
  
  <!-- Nombre del producto -->
  <label for="name">Nombre del producto</label>
  <input class="reg-input" type="text" id="name" name="name" required value="<%= name %>">
  <div class="error" id="errorProduct"></div>
  <br>

  <!-- Marca -->
  


  <!-- Precio -->
  <label for="price">Precio</label>
  <input class="reg-input" type="number" id="price" name="price" required value="<%= price %>">
  <div class="error" id="errorPrice"></div>
  <br>

  <!-- Descuento -->
  <label for="discount">Descuento</label>
  <input class="reg-input" type="number" id="discount" name="discount" value="<%= discount %>">
  <div class="error" id="errorDiscount"></div>
  <br>

  
  <!-- Sección -->
   <select name="sectionId" id="">
    <% sections.forEach(s => { %>
     <option value="<%= s.id %>" <%= sectionId == s.id && 'selected' %>><%= s.name %></option>
    <% }) %>
   </select>

     
  <!-- Categoría -->
  <select name="categoryId" id="">
    <% categories.forEach(c => { %>
     <option value="<%= c.id %>" <%= categoryId == c.id && 'selected' %>><%= c.name %></option>
    <% }) %>
   </select>

     
  <!-- Marca -->
  <select name="brandId" id="">
    <% brands.forEach(b => { %>
     <option value="<%= b.id %>" <%= brandId == b.id && 'selected' %>><%= b.name %></option>
    <% }) %>
   </select>
  
  <!-- Imagen -->
  <label for="image" class="form-label">Imagen</label>
  <input class="reg-input" type="file" name="image" id="image">
  
  <!-- Descripción -->
  <label for="description" class="form-label">Descripción:</label>
  <textarea name="description" id="description" class="textarea" rows="8"><%= description %></textarea>
  <br>
  
  <button type="submit" class="reg-button">Actualizar producto</button>
</form>
</div>

</body>

</html>