<!DOCTYPE html>
<html>
<%- include('./partials/head',{title:'index'}) %>

  <body>
    <%- include('./partials/header') %>
      <main class="main-index">
        <h2>Ultimos Agregados</h2>

        <section>
<article class="fotos">
          <% newest.forEach(({id,image,brand,model,price,discount}) => {%>

<a href="../products/detail/<%= id %>">
  <img 
  src="../images/products/<%= image %>"
   alt="Imagen del producto"></a>

<%})%>
</article>
<article class="fotos">
<h2>Ofertas</h2>
<% inSale.forEach(({id,image,brand,model,price,discount}) => {%>

<a href="../products/detail/<%= id %>">
  <img 
  src="../images/products/<%= image %>"
   alt="Imagen del producto"></a>

<%})%>
</article>
        </section>
      </main>

      <%- include('./partials/footer') %>
  </body>

</html>