<!DOCTYPE html>
<html>
<%- include('./partials/head',{title:'index'}) %>

  <body>
    <%- include('./partials/header') %>
      <main class="main-index">
        <%- include('./partials/slider') %>         
        
        
        <article class="fotos">
          <% products.forEach((product) => {%>

 <a href="../products/detail/<%= product.id %>"> 
  <img 
  src="<%= product.image %>"
   alt="Imagen del producto"></a>

<%})%>
</article>
           
        <%- include('./partials/footer') %>
      </body>
    
    </html>