<!DOCTYPE html>
<html>
<%- include('./partials/head', { title: 'index' }) %>

  <body>
    <%- include('./partials/header') %>

      <main class="main-index">
        <%- include('./partials/slider') %>

          <% products.forEach((product)=> { %>
            <section class="index-container">
              <article class="index-card">
                <a href="../products/detail/<%= product.id %>">
                  <img class="index-fotos" src="/images/products/<%= product.image %>" alt="<%= product.name %>"></a>
                <div class="index-info">
                  <h3 class="index-detail">
                    <%= product.name %>
                  </h3>
                  <p class="index-detail">
                    <%= product.description %>
                  </p>
                  <% if (product.discount != 0) { %>
                    <p>
                      <span class="tachado">
                        $<%= product.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "." ) %>
                      </span>
                      <strong class="index-discountCard">/<%= product.discount %>% OFF</strong>
                    </p>
                    <h2 class="price-detail">
                      Precio $<%= (product.price - (product.price * product.discount / 100)).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %>
                    </h2>
                  <% } else { %>
                    <h2 class="price-detail">
                      Precio $<%= product.price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %>
                    </h2>
                  <% } %>
                  
                    
                </div>
              </article>
            </section>
            <% }) %>
      </main>

      <%- include('./partials/footer') %>
  </body>

</html>