<!DOCTYPE html>
<html>
<%- include('../partials/head',{title:'Login'}) %>

  <body>
    <main class="login-main">
      <div class="login_logo">
        <a href="/"><img src="/images/logo_music_place.png" alt="Logo Music Place"></a>
      </div>
      <form action="/users/processLogin" method="POST" class="form-login" id="loginForm">

        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Ingrese email"
        value="<%= old && old.email ? old.email : '' %>" autocomplete="off" /><br>
        <% if (errors?.email) { %>
          <span class="error-validation is-invalid"
            <%= errors.email.msg %>>
          </span>
          <% } %><br>

            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Ingrese contraseña" id="password" autocomplete="off" />
            <% if (errors?.password) { %>
              <span class="error-validation is-invalid">
                <%= errors.password.msg %>
              </span>
              <% } %>
                <span id="show-hide">Mostrar</span>

                <div class="div-recordar"></div>
                <input type="checkbox" name="recordar" id="recordar" <%=old?.recordar ? 'checked' : '' %> />
                <label for="recordar" class="label-recordar">Recordarme</label>


                <button type="submit" class="btn-login">Login</button>

                <a href="register"><input type="button" value="Crear cuenta"> </a>
                </div>
      </form>
      <script src="/js/loginFrontValidation.js"></script>
  </body>

</html>