<!DOCTYPE html>
<html>
  <%- include('../partials/headAdmin', { title: 'Editar usuario' }) %>

  <body>
    <main class="body">
      <div id="registroForm">
        <h2 class="tit-reg">Actualizar Legajo de usuario</h2>

        <form action="/users/update/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
          
          <!-- Nombre -->
          <label for="name" class="label-input">Nombre</label>
          <input class="reg-input" type="text" id="name" name="name" value="<%= old?.name || user.name %>">
          <% if (errors?.name) { %>
            <span class="error-validation"><%= errors.name.msg %></span>
          <% } %>
          <br>

          <!-- Apellido -->
          <label for="surname" class="label-input">Apellido</label>
          <input class="reg-input" type="text" id="surname" name="surname" value="<%= old?.surname || user.surname %>">
          <% if (errors?.surname) { %>
            <span class="error-validation"><%= errors.surname.msg %></span>
          <% } %>
          <br>

          <!-- Usuario -->
          <label for="username" class="label-input">Usuario</label>
          <input class="reg-input" type="text" id="username" name="username" value="<%= old?.username || user.username %>">
          <% if (errors?.username) { %>
            <span class="error-validation"><%= errors.username.msg %></span>
          <% } %>
          <br>

          <!-- Email -->
          <label for="email" class="label-input">Email</label>
          <input class="reg-input" type="email" id="email" name="email" value="<%= old?.email || user.email %>">
          <% if (errors?.email) { %>
            <span class="error-validation"><%= errors.email.msg %></span>
          <% } %>
          <br>

          <!-- Avatar -->
          <label for="avatar" class="label-input">Foto</label>
          <input class="file-input" type="file" name="avatar" id="avatar">
          <% if (errors?.avatar) { %>
            <span class="error-validation"><%= errors.avatar.msg %></span>
          <% } %>
          <br>

          <!-- Rol -->
          <label for="rolId" class="label-input">Rol</label>
          <select name="rolId" id="rol">
            <option value="" hidden>Seleccione rol...</option>
            <% rols.forEach(r => { %>
<option value="<%= r.id %>" <%= (old?.rolId == r.id || (!old?.rolId && user.rolId == r.id)) ? 'selected' : '' %> >
                                <%= r.name %>
                              </option>
                              <% }) %>
                          </select>
                          <% if (errors?.rolId) { %>
                            <span class="error-validation">
                              <%= errors.rolId.msg %>
                            </span>
                            <% } %>
          <br>
          <!-- Botón submit -->
          <button type="submit" class="btn-user">Actualizar usuario</button>
        </form>
      </div>
    </main>
  </body>
</html>
