<!DOCTYPE html>
<html>
  <%- include('.././partials/headAdmin', {title:'Editar usuario'}) %>
 
<body>
  <main class="body">
  <div id="registroForm">

    <h2 class="tit-reg">Actualizar Legajo de usuario</h2>

    <form  action="/users/update/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

      <label for="name">Nombre</label>
      <input class="reg-input" type="text" id="nombre" name="name"
      value="<%=user.name%>">
      <div class="error" id="errorNombre"></div>
      <br>

      <label for="surname">Apellido</label>
      <input class="reg-input"  type="text" id="surname" name="surname" 
      value="<%=user.surname%>">
      <div class="error" id="errorApellido"></div>

      <label for="username">Usuario</label>
      <input class="reg-input"  type="text" id="username" name="username"   
      value="<%=user.username%>">
      <div class="error" id="errorUsername"></div>
      <br>

      <label for="email">Email</label>
      <input class="reg-input"  type="email" id="email" name="email" 
      value="<%=user.email%>">
      <div class="error" id="errorEmail"></div>
      <br>
   
      <div>
      <label class="inline">Acepto Términos y condiciones</label>
      <input type="checkbox" name="aceptoTerminos" class="check" id="check"  checked="off"
         required>
         
         <div class="error" id="errorAceptoTerminos"></div>
        </div>
         <br>
         

        <button type="submit" class="btn btn-outline-dark">Actualizar usuario</button>
      </form>

      <br>
      <br>
      <form action="/users/remove/<%=user.id%>?_method=DELETE" method="POST">
        <button class="btn btn-sm btn-danger" type="submit">Eliminar</button>
      </form>
    </div>

 

</body>

</html>