<!DOCTYPE html>
<html lang="es">
<%- include('../partials/headAdmin', {title: 'Registro de Usuarios' }) %>

  <body>
    <main class="body">
      <div id="registroForm">
        <h2 class="tit-reg">Registro de Usuario</h2>
        <form action="/users/processRegister" method="POST" enctype="multipart/form-data">

          <label for="name" class="label-input">Nombre</label>
          <input class="reg-input" type="text" id="name" name="name" value="<%= old?.name || '' %>"><br>
          <% if (errors?.name) { %>
            <span class="error-validation">
              <%= errors.name.msg %>
            </span><br>
            <% } %>

              <label for="surname" class="label-input">Apellido</label>
              <input class="reg-input" type="text" id="surname" name="surname" value="<%= old?.surname || '' %>"><br>
              <% if (errors?.surname) { %>
                <span class="error-validation">
                  <%= errors.surname.msg %>
                </span><br>
                <% } %>

                  <label for="username" class="label-input">Nombre de Usuario</label>
                  <input class="reg-input" type="text" id="username" name="username"
                    value="<%= old?.username || '' %>"><br>
                  <% if (errors?.username) { %>
                    <span class="error-validation">
                      <%= errors.username.msg %>
                    </span>
                    <% } %><br>
                      <label for="email" class="label-input">Correo Electrónico</label>
                      <input class="reg-input" type="email" id="email" name="email" value="<%= old?.email || '' %>"><br>
                      <% if (errors?.email) { %>
                        <span class="error-validation">
                          <%= errors.email.msg %>
                        </span>
                        <% } %><br>

                          <!-- Rol -->
                          <label for="rolId" class="label-input">Rol</label>
                          <select name="rolId" id="rol">
                            <option value="" hidden selected>Seleccione rol...</option>
                            <% rols.forEach(r=> { %>
<option value="<%= r.id %>" <%=(old?.rolId == r.id) ? 'selected' : '' %> >
                                <%= r.name %>
                              </option>
                              <% }) %>
                          </select>
                          <% if (errors?.rolId) { %>
                            <span class="error-validation">
                              <%= errors.rolId.msg %>
                            </span>
                            <% } %>
                              <br>
                              <label for="password" class="label-input">Contraseña</label>
                              <input class="reg-input" type="password" id="password" name="password"
                                value="<%= old?.password || '' %>"> 
                              <% if (errors?.password) { %>
                                <span class="error-validation">
                                  <%= errors.password.msg %>
                                </span>
                                <% } %>

                                  <label class="label-input" for="confirmPassword">Confirmar Contraseña</label>
                                  <input class="reg-input" type="password" name="confirmPassword" id="confirmPassword"
                                    autocomplete="off" value="<%= old?.confirmPassword || '' %>">

                                  <% if (errors?.confirmPassword) { %>
                                    <span class="error-validation">
                                      <%= errors.confirmPassword.msg %>
                                    </span>
                                    <% } %> <br>

                                                                          <br>
                                      <label for="avatar" class="label-input">Imagen de Usuario</label>

                                      <div class="file-upload-wrapper">
                                        <label for="avatar" class="custom-file-upload">Subir imagen</label>
                                        <input type="file" id="avatar" name="avatar" class="reg-input">
                                      </div><br><br>


                                      <label class="inline">Acepto Términos y condiciones</label>
                                      <input type="checkbox" name="aceptoTerminos" class="check" id="check"
                                        <%=old?.aceptoTerminos ? 'checked' : '' %>><br>
                                      <span class="error-validation" id="termsError"></span><br>
                                      <button class="btn-reg" type="submit">Registrarse</button>
        </form>
        <script src="/public/js/registerFrontValid.js"></script>
  </body>

</html>