<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/headAdmin', {title: 'Administrar Usuarios' }) %>
<body>

    <%- include('../partials/headerAdmin', {title: 'Administrar usuarioss' }) %>

  <main>
    <div class="card-body table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Usuario</th>
            <th scope="col">email</th>
            <th scope="col">rol</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(({id, name, surname, username, email,password, rol})=> { %>
            <tr>
              <th scope="row">
                <%= id %>
              </th>
              <td>
                <%= name %>
              </td>
              <td>
                <%= surname %>
              </td>
              <td>
                <%= username %>
              </td>
              <td>
                <%= email %>
              </td>
                         <td>
                <%= rol=="user" ? 'Usuario' : 'Administrador' %>
              </td>
              <td>
                <div class="d-flex gap-2">
                  <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                    data-bs-target="#showDetail<%= id %>">
                    <i class="fas fa-search-plus"></i>													
                  </button>
            
                  <a href="/users/edit/<%= id %>" class="btn btn-sm btn-success"><i
                      class="fas fa-pencil-alt"></i></a>

                  <button type="button" class="btn btn-sm btn-danger"
                    data-bs-toggle="modal" data-bs-target="#modalDelete<%= id %>">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                
                </div>

              </td>
            </tr>
            <% }) %>


        </tbody>
      
      </table>
    

</main>


</body>
</html>